{% load static %}
{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style type="text/css">
      .leaflet-container { height: 100%; }      
    </style>
    <title>Mapa Discapacidad</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'checkbox.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src= "https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{% static 'checkbox.js' %}"></script>
    <script type="text/javascript">var dataurl = '{% url "data" %}';</script>        
    <script type="text/javascript" src="{% static 'mapContainer.js' %}"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'leaflet-history.css' %}">
    <script type="text/javascript" src="{% static 'leaflet-history.js' %}"></script> 

  </head>
  <body>
    <div id="header">
      <nav class="navbar" style="background-color: #1c5ea5!important">
        <a class="navbar-brand" href="#">
            <img id="logoInei" src="http://ods.inei.gob.pe/ods/images/logos/logo_inei.png">
        </a>
        <h2 class="animated bounce infinite" style="text-align: center; width: 75%;color:white;" itemprop="headline">
          <a rel="bookmark">Región Callao: Población censada con alguna discapacidad, 2017.</a>
        </h2>

        <div class="navbar-toggler">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      </nav>
    </div>

    <div id="map" class="map">
    {% leaflet_map "main" %}
    </div>

    <footer class="page-footer font-small">
        <div class="footer-copyright text-center"><span class="texto">© 2019 Copyright</span></div>
      </footer>    
  </body>
</html>
