.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  height: 100px;
  overflow:auto;
  padding:  5px 5px 5px 5px;
  font-family: 'arial';
}

/*#checkboxes input {
  display: block;
}*/

#checkboxes input:hover {
  background-color: #1e90ff;
}

#checkboxes input{
  margin-right: 5px;
}
